.App {
  text-align: center;
}

.Profile-header {
  display: flex;
  background-color: chocolate;
  padding: 5vmin;
}

.Profile-pic-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  background-color: beige;
}

.profile-body-container {
  display: flex;
}

.Profile-pic {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Profile-pic {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
